# load excel

In [62]:
print("test init")

test init

In [63]:
import pandas as pd

# Load the Excel file
file_path_excel = 'Data Tersortis + logsheet gedong songo.xlsx'
file_path_csv = 'Data Tersortis + logsheet gedong songo - Data Tersortis + logsheet.csv'
df = pd.read_excel(file_path_excel)

# Display the first few rows of the dataframe
df.head()

,No,Title,Date Created,Longitude (Bjr),Latitude (Ltg),time measure start,time measure end,Northing,Easting,MQ 135,NDIR,MQ 136,TGS,Description,Elevation
0,10,L2.1,2025-01-27T06:12:37+07:00,110.340283,-7.204322,06:20:00,06:25:00,0,0,59,671,13,1,"lahan kebun, terasering, deket jalan, dibawah ...",1362.597534
1,1,L1.1,2025-01-27T06:34:43+07:00,110.340265,-7.204638,06:42:00,06:50:00,0,0,44,825,18,3,"banyak rumput, bawah tebing 4 m, dekat jalan, ...",1356.244141
2,11,L2.2,2025-01-27T06:56:46+07:00,110.339923,-7.204155,07:01:00,07:04:00,0,0,45,656,14,12,"atas tebing, tanah keras, dekat jalan, 50 m da...",1363.329346
3,21,L3.2,2025-01-27T07:11:59+07:00,110.339999,-7.203808,07:14:00,07:20:00,0,0,77,581,21,4,"deket candi, 50 m dari fumarol, tanah keras, r...",1368.673096
4,20,L3.1,2025-01-27T07:33:15+07:00,110.340346,-7.203891,07:35:00,07:40:00,0,0,47,656,10,10,"tanah keras, dalam candi, 80 m dari fumarol, d...",1371.209961

In [64]:
# sort the data by 'Date Created' column from the oldest to the newest

df = df.sort_values(by='Date Created', ascending=True)

# Display the first few rows of the dataframe
df.head()

,No,Title,Date Created,Longitude (Bjr),Latitude (Ltg),time measure start,time measure end,Northing,Easting,MQ 135,NDIR,MQ 136,TGS,Description,Elevation
0,10,L2.1,2025-01-27T06:12:37+07:00,110.340283,-7.204322,06:20:00,06:25:00,0,0,59,671,13,1,"lahan kebun, terasering, deket jalan, dibawah ...",1362.597534
1,1,L1.1,2025-01-27T06:34:43+07:00,110.340265,-7.204638,06:42:00,06:50:00,0,0,44,825,18,3,"banyak rumput, bawah tebing 4 m, dekat jalan, ...",1356.244141
2,11,L2.2,2025-01-27T06:56:46+07:00,110.339923,-7.204155,07:01:00,07:04:00,0,0,45,656,14,12,"atas tebing, tanah keras, dekat jalan, 50 m da...",1363.329346
3,21,L3.2,2025-01-27T07:11:59+07:00,110.339999,-7.203808,07:14:00,07:20:00,0,0,77,581,21,4,"deket candi, 50 m dari fumarol, tanah keras, r...",1368.673096
4,20,L3.1,2025-01-27T07:33:15+07:00,110.340346,-7.203891,07:35:00,07:40:00,0,0,47,656,10,10,"tanah keras, dalam candi, 80 m dari fumarol, d...",1371.209961

# create timestamp df

In [65]:
# list the columns of the dataframe

df.columns

Index(['No', 'Title', 'Date Created', 'Longitude (Bjr)', 'Latitude (Ltg)',
       'time measure start', 'time measure end', 'Northing', 'Easting',
       'MQ 135', 'NDIR', 'MQ 136', 'TGS', 'Description', 'Elevation'],
      dtype='object')

In [66]:
import pandas as pd

# Assuming df is already defined
df_time = df[
    ["No", "Title", "Date Created", "time measure start", "time measure end"]
].copy()

# Create new columns
df_time.loc[:, "date created start"] = df_time["Date Created"]
df_time.loc[:, "date created end"] = df_time["Date Created"].shift(-1)

# Handle the last row separately
last_row_index = df_time.index[-1]
df_time.at[last_row_index, "date created end"] = (
    df_time.at[last_row_index, "Date Created"].split("T")[0]
    + "T"
    + str(df_time.at[last_row_index, "time measure end"])
    + "+07:00"
)

# Convert 'date created start' and 'date created end' to datetime
df_time["date created start"] = pd.to_datetime(df_time["date created start"])
df_time["date created end"] = pd.to_datetime(df_time["date created end"])

# make column `is_time_inside` to check if the time is inside the range
df_time.loc[:, "is_time_inside"] = df_time.apply(
    lambda row: row["time measure start"] >= row["date created start"].time()
    and row["time measure end"] <= row["date created end"].time(),
    axis=1,
)

# Set display options to show all rows and columns
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

# Show all the rows
df_time

,No,Title,Date Created,time measure start,time measure end,date created start,date created end,is_time_inside
0,10,L2.1,2025-01-27T06:12:37+07:00,06:20:00,06:25:00,2025-01-27 06:12:37+07:00,2025-01-27 06:34:43+07:00,True
1,1,L1.1,2025-01-27T06:34:43+07:00,06:42:00,06:50:00,2025-01-27 06:34:43+07:00,2025-01-27 06:56:46+07:00,True
2,11,L2.2,2025-01-27T06:56:46+07:00,07:01:00,07:04:00,2025-01-27 06:56:46+07:00,2025-01-27 07:11:59+07:00,True
3,21,L3.2,2025-01-27T07:11:59+07:00,07:14:00,07:20:00,2025-01-27 07:11:59+07:00,2025-01-27 07:33:15+07:00,True
4,20,L3.1,2025-01-27T07:33:15+07:00,07:35:00,07:40:00,2025-01-27 07:33:15+07:00,2025-01-27 07:47:47+07:00,True
5,29,L4.2,2025-01-27T07:47:47+07:00,07:51:00,07:57:00,2025-01-27 07:47:47+07:00,2025-01-27 08:04:16+07:00,True
6,38,L5.2,2025-01-27T08:04:16+07:00,08:06:00,08:12:00,2025-01-27 08:04:16+07:00,2025-01-27 08:17:01+07:00,True
7,47,L6.2,2025-01-27T08:17:01+07:00,08:19:00,08:23:00,2025-01-27 08:17:01+07:00,2025-01-27 08:36:59+07:00,True
8,48,L6.3,2025-01-27T08:36:59+07:00,08:33:00,08:38:00,2025-01-27 08:36:59+07:00,2025-01-27 08:45:06+07:00,False
9,58,L7.3,2025-01-27T08:45:06+07:00,08:49:00,08:53:00,2025-01-27 08:45:06+07:00,2025-01-27 09:00:43+07:00,True
10,59,L7.4,2025-01-27T09:00:43+07:00,09:04:00,09:09:00,2025-01-27 09:00:43+07:00,2025-01-27 09:41:47+07:00,True
11,39,L5.3,2025-01-27T09:41:47+07:00,09:45:00,09:49:00,2025-01-27 09:41:47+07:00,2025-01-27 10:03:13+07:00,True
12,40,L5.4,2025-01-27T10:03:13+07:00,10:06:00,10:15:00,2025-01-27 10:03:13+07:00,2025-01-27 10:20:48+07:00,True
13,49,L6.4,2025-01-27T10:20:48+07:00,10:23:00,10:25:00,2025-01-27 10:20:48+07:00,2025-01-27 10:35:59+07:00,True
14,31,L4.4,2025-01-27T10:35:59+07:00,10:38:00,10:42:00,2025-01-27 10:35:59+07:00,2025-01-27 10:55:04+07:00,True
15,23,L3.4,2025-01-27T10:55:04+07:00,11:00:00,11:06:00,2025-01-27 10:55:04+07:00,2025-01-27 11:19:25+07:00,True
16,14,L2.5,2025-01-27T11:19:25+07:00,11:25:00,11:28:00,2025-01-27 11:19:25+07:00,2025-01-27 11:46:35+07:00,True
17,6,L1.6,2025-01-27T11:46:35+07:00,11:59:00,12:03:00,2025-01-27 11:46:35+07:00,2025-01-27 12:06:28+07:00,True
18,13,L2.4,2025-01-27T12:06:28+07:00,07:05:00,07:08:00,2025-01-27 12:06:28+07:00,2025-01-27 12:14:50+07:00,False
19,7,L1.7,2025-01-27T12:14:50+07:00,12:22:00,12:27:00,2025-01-27 12:14:50+07:00,2025-01-27 12:52:50+07:00,True
20,15,L2.6,2025-01-27T12:52:50+07:00,12:52:00,12:55:00,2025-01-27 12:52:50+07:00,2025-01-27 16:58:49+07:00,False
21,22,L3.3,2025-01-27T16:58:49+07:00,17:00:00,17:12:00,2025-01-27 16:58:49+07:00,2025-01-27 17:20:30+07:00,True
22,30,L4.3,2025-01-27T17:20:30+07:00,17:25:00,17:35:00,2025-01-27 17:20:30+07:00,2025-01-27 17:40:03+07:00,True
23,2,L1.2,2025-01-27T17:40:03+07:00,17:46:00,17:55:00,2025-01-27 17:40:03+07:00,2025-01-27 18:17:42+07:00,True
24,3,L1.3,2025-01-27T18:17:42+07:00,07:21:00,07:24:00,2025-01-27 18:17:42+07:00,2025-01-28 07:45:03+07:00,False
25,16,L2.7,2025-01-28T07:45:03+07:00,07:52:00,07:55:00,2025-01-28 07:45:03+07:00,2025-01-28 08:14:16+07:00,True
26,25,L3.6,2025-01-28T08:14:16+07:00,08:15:00,08:16:00,2025-01-28 08:14:16+07:00,2025-01-28 08:59:42+07:00,True
27,32,L4.5,2025-01-28T08:59:42+07:00,09:08:00,09:14:00,2025-01-28 08:59:42+07:00,2025-01-28 09:23:56+07:00,True
28,33,L4.6,2025-01-28T09:23:56+07:00,09:35:00,09:39:00,2025-01-28 09:23:56+07:00,2025-01-28 09:58:10+07:00,True
29,42,L5.6,2025-01-28T09:58:10+07:00,09:58:00,10:08:00,2025-01-28 09:58:10+07:00,2025-01-28 10:08:21+07:00,False
30,41,L5.5,2025-01-28T10:08:21+07:00,10:14:00,10:20:00,2025-01-28 10:08:21+07:00,2025-01-28 10:26:11+07:00,True
31,51,L6.5,2025-01-28T10:26:11+07:00,10:28:00,10:32:00,2025-01-28 10:26:11+07:00,2025-01-28 10:38:49+07:00,True
32,52,L6.6,2025-01-28T10:38:49+07:00,10:40:00,10:43:00,2025-01-28 10:38:49+07:00,2025-01-28 10:48:53+07:00,True
33,60,L7.5,2025-01-28T10:48:53+07:00,10:53:00,11:00:00,2025-01-28 10:48:53+07:00,2025-01-28 11:02:19+07:00,True
34,61,L7.6,2025-01-28T11:02:19+07:00,11:03:00,11:06:00,2025-01-28 11:02:19+07:00,2025-01-28 11:18:40+07:00,True
35,53,L6.7,2025-01-28T11:18:40+07:00,11:21:00,11:28:00,2025-01-28 11:18:40+07:00,2025-01-28 11:33:36+07:00,True
36,54,L6.8,2025-01-28T11:33:36+07:00,11:34:00,11:38:00,2025-01-28 11:33:36+07:00,2025-01-28 11:41:17+07:00,True
37,44,L5.8,2025-01-28T11:41:17+07:00,11:43:00,11:46:00,2025-01-28 11:41:17+07:00,2025-01-28 11:50:15+07:00,True
38,45,L5.9,2025-01-28T11:50:15+07:00,11:51:00,11:54:00,2025-01-28 11:50:15+07:00,2025-01-28 12:01:11+07:00,True
39,36,L4.9,2025-01-28T12:01:11+07:00,12:03:00,12:07:00,2025-01-28 12:01:11+07:00,2025-01-28 12:17:56+07:00,True
40,43,L5.7,2025-01-28T12:17:56+07:00,12:20:00,12:24:00,2025-01-28 12:17:56+07:00,2025-01-28 12:30:06+07:00,True
41,34,L4.7,2025-01-28T12:30:06+07:00,12:33:00,12:36:00,2025-01-28 12:30:06+07:00,2025-01-28 12:42:56+07:00,True
42,35,L4.8,2025-01-28T12:42:56+07:00,12:46:00,12:48:00,2025-01-28 12:42:56+07:00,2025-01-28 12:57:00+07:00,True
43,26,L3.7,2025-01-28T12:57:00+07:00,12:57:00,13:01:00,2025-01-28 12:57:00+07:00,2025-01-28 13:17:25+07:00,True
44,17,L2.8,2025-01-28T13:17:25+07:00,13:18:00,13:21:00,2025-01-28 13:17:25+07:00,2025-01-28 13:29:07+07:00,True
45,27,L3.8,2025-01-28T13:29:07+07:00,13:30:00,13:33:00,2025-01-28 13:29:07+07:00,2025-01-28 13:37:37+07:00,True
46,18,L3.9,2025-01-28T13:37:37+07:00,13:38:00,13:40:00,2025-01-28 13:37:37+07:00,2025-01-28 13:49:15+07:00,True
47,8,L1.8,2025-01-28T13:49:15+07:00,13:51:00,13:53:00,2025-01-28 13:49:15+07:00,2025-01-28 13:53:00+07:00,True

In [67]:
df_time[df_time['is_time_inside'] == False]

,No,Title,Date Created,time measure start,time measure end,date created start,date created end,is_time_inside
8,48,L6.3,2025-01-27T08:36:59+07:00,08:33:00,08:38:00,2025-01-27 08:36:59+07:00,2025-01-27 08:45:06+07:00,False
18,13,L2.4,2025-01-27T12:06:28+07:00,07:05:00,07:08:00,2025-01-27 12:06:28+07:00,2025-01-27 12:14:50+07:00,False
20,15,L2.6,2025-01-27T12:52:50+07:00,12:52:00,12:55:00,2025-01-27 12:52:50+07:00,2025-01-27 16:58:49+07:00,False
24,3,L1.3,2025-01-27T18:17:42+07:00,07:21:00,07:24:00,2025-01-27 18:17:42+07:00,2025-01-28 07:45:03+07:00,False
29,42,L5.6,2025-01-28T09:58:10+07:00,09:58:00,10:08:00,2025-01-28 09:58:10+07:00,2025-01-28 10:08:21+07:00,False

In [68]:
# handle manual is_time_inside == False

# Title L6.3
# adjust time measure start and time in date created start to in 8.37
index = df_time[df_time['Title'] == 'L6.3'].index[0]

df_time.at[index, "time measure start"] = "08:37:00"
df_time.at[index, "date created start"] = df_time.at[0, "date created start"].replace(hour=8, minute=37, second=0)

# Title L2.4
# adjust data in date created start and date created end to 2025-01-28 and time follow the time measure start and time measure end
index = df_time[df_time['Title'] == 'L2.4'].index[0]

df_time.at[index, "date created start"] = "2025-01-28" + "T" + str(df_time.at[index, "time measure start"]) + "+07:00"
df_time.at[index, "date created end"] = (
    "2025-01-28 " + "T" + str(df_time.at[index, "time measure end"]) + "+07:00"
)

# Title L2.6
# adjust time measure start and time in date created start to in 12.53
# adjust time in date created end to take from time measure end
index = df_time[df_time['Title'] == 'L2.6'].index[0]

df_time.at[index, "time measure start"] = "12:53:00"
df_time.at[index, "date created start"] = df_time.at[
    index, "date created start"
].replace(hour=12, minute=53, second=0)
df_time.at[index, "date created end"] = df_time.at[index, "date created end"].replace(hour=12, minute=55, second=0)

# Title L1.3
# adjust data in date created start and date created end to 2025-01-28 and time follow the time measure start and time measure end
index = df_time[df_time['Title'] == 'L1.3'].index[0]

df_time.at[index, "date created start"] = (
    "2025-01-28" + "T" + str(df_time.at[index, "time measure start"]) + "+07:00"
)
df_time.at[index, "date created end"] = (
    "2025-01-28 " + "T" + str(df_time.at[index, "time measure end"]) + "+07:00"
)

# Title L5.6
# adjust time measure start and time in date created start to in 9.59
index = df_time[df_time['Title'] == 'L5.6'].index[0]

df_time.at[index, "time measure start"] = "09:59:00"
df_time.at[index, "date created start"] = df_time.at[
    index, "date created start"
].replace(hour=9, minute=59, second=0)

df_time[df_time["is_time_inside"] == False]

,No,Title,Date Created,time measure start,time measure end,date created start,date created end,is_time_inside
8,48,L6.3,2025-01-27T08:36:59+07:00,08:37:00,08:38:00,2025-01-27 08:37:00+07:00,2025-01-27 08:45:06+07:00,False
18,13,L2.4,2025-01-27T12:06:28+07:00,07:05:00,07:08:00,2025-01-28 07:05:00+07:00,2025-01-28 07:08:00+07:00,False
20,15,L2.6,2025-01-27T12:52:50+07:00,12:53:00,12:55:00,2025-01-27 12:53:00+07:00,2025-01-27 12:55:00+07:00,False
24,3,L1.3,2025-01-27T18:17:42+07:00,07:21:00,07:24:00,2025-01-28 07:21:00+07:00,2025-01-28 07:24:00+07:00,False
29,42,L5.6,2025-01-28T09:58:10+07:00,09:59:00,10:08:00,2025-01-28 09:59:00+07:00,2025-01-28 10:08:21+07:00,False

In [69]:
# sort the data by 'date created start' column from the oldest to the newest

df_time = df_time.sort_values(by='date created start', ascending=True)
df_time

,No,Title,Date Created,time measure start,time measure end,date created start,date created end,is_time_inside
0,10,L2.1,2025-01-27T06:12:37+07:00,06:20:00,06:25:00,2025-01-27 06:12:37+07:00,2025-01-27 06:34:43+07:00,True
1,1,L1.1,2025-01-27T06:34:43+07:00,06:42:00,06:50:00,2025-01-27 06:34:43+07:00,2025-01-27 06:56:46+07:00,True
2,11,L2.2,2025-01-27T06:56:46+07:00,07:01:00,07:04:00,2025-01-27 06:56:46+07:00,2025-01-27 07:11:59+07:00,True
3,21,L3.2,2025-01-27T07:11:59+07:00,07:14:00,07:20:00,2025-01-27 07:11:59+07:00,2025-01-27 07:33:15+07:00,True
4,20,L3.1,2025-01-27T07:33:15+07:00,07:35:00,07:40:00,2025-01-27 07:33:15+07:00,2025-01-27 07:47:47+07:00,True
5,29,L4.2,2025-01-27T07:47:47+07:00,07:51:00,07:57:00,2025-01-27 07:47:47+07:00,2025-01-27 08:04:16+07:00,True
6,38,L5.2,2025-01-27T08:04:16+07:00,08:06:00,08:12:00,2025-01-27 08:04:16+07:00,2025-01-27 08:17:01+07:00,True
7,47,L6.2,2025-01-27T08:17:01+07:00,08:19:00,08:23:00,2025-01-27 08:17:01+07:00,2025-01-27 08:36:59+07:00,True
8,48,L6.3,2025-01-27T08:36:59+07:00,08:37:00,08:38:00,2025-01-27 08:37:00+07:00,2025-01-27 08:45:06+07:00,False
9,58,L7.3,2025-01-27T08:45:06+07:00,08:49:00,08:53:00,2025-01-27 08:45:06+07:00,2025-01-27 09:00:43+07:00,True
10,59,L7.4,2025-01-27T09:00:43+07:00,09:04:00,09:09:00,2025-01-27 09:00:43+07:00,2025-01-27 09:41:47+07:00,True
11,39,L5.3,2025-01-27T09:41:47+07:00,09:45:00,09:49:00,2025-01-27 09:41:47+07:00,2025-01-27 10:03:13+07:00,True
12,40,L5.4,2025-01-27T10:03:13+07:00,10:06:00,10:15:00,2025-01-27 10:03:13+07:00,2025-01-27 10:20:48+07:00,True
13,49,L6.4,2025-01-27T10:20:48+07:00,10:23:00,10:25:00,2025-01-27 10:20:48+07:00,2025-01-27 10:35:59+07:00,True
14,31,L4.4,2025-01-27T10:35:59+07:00,10:38:00,10:42:00,2025-01-27 10:35:59+07:00,2025-01-27 10:55:04+07:00,True
15,23,L3.4,2025-01-27T10:55:04+07:00,11:00:00,11:06:00,2025-01-27 10:55:04+07:00,2025-01-27 11:19:25+07:00,True
16,14,L2.5,2025-01-27T11:19:25+07:00,11:25:00,11:28:00,2025-01-27 11:19:25+07:00,2025-01-27 11:46:35+07:00,True
17,6,L1.6,2025-01-27T11:46:35+07:00,11:59:00,12:03:00,2025-01-27 11:46:35+07:00,2025-01-27 12:06:28+07:00,True
19,7,L1.7,2025-01-27T12:14:50+07:00,12:22:00,12:27:00,2025-01-27 12:14:50+07:00,2025-01-27 12:52:50+07:00,True
20,15,L2.6,2025-01-27T12:52:50+07:00,12:53:00,12:55:00,2025-01-27 12:53:00+07:00,2025-01-27 12:55:00+07:00,False
21,22,L3.3,2025-01-27T16:58:49+07:00,17:00:00,17:12:00,2025-01-27 16:58:49+07:00,2025-01-27 17:20:30+07:00,True
22,30,L4.3,2025-01-27T17:20:30+07:00,17:25:00,17:35:00,2025-01-27 17:20:30+07:00,2025-01-27 17:40:03+07:00,True
23,2,L1.2,2025-01-27T17:40:03+07:00,17:46:00,17:55:00,2025-01-27 17:40:03+07:00,2025-01-27 18:17:42+07:00,True
18,13,L2.4,2025-01-27T12:06:28+07:00,07:05:00,07:08:00,2025-01-28 07:05:00+07:00,2025-01-28 07:08:00+07:00,False
24,3,L1.3,2025-01-27T18:17:42+07:00,07:21:00,07:24:00,2025-01-28 07:21:00+07:00,2025-01-28 07:24:00+07:00,False
25,16,L2.7,2025-01-28T07:45:03+07:00,07:52:00,07:55:00,2025-01-28 07:45:03+07:00,2025-01-28 08:14:16+07:00,True
26,25,L3.6,2025-01-28T08:14:16+07:00,08:15:00,08:16:00,2025-01-28 08:14:16+07:00,2025-01-28 08:59:42+07:00,True
27,32,L4.5,2025-01-28T08:59:42+07:00,09:08:00,09:14:00,2025-01-28 08:59:42+07:00,2025-01-28 09:23:56+07:00,True
28,33,L4.6,2025-01-28T09:23:56+07:00,09:35:00,09:39:00,2025-01-28 09:23:56+07:00,2025-01-28 09:58:10+07:00,True
29,42,L5.6,2025-01-28T09:58:10+07:00,09:59:00,10:08:00,2025-01-28 09:59:00+07:00,2025-01-28 10:08:21+07:00,False
30,41,L5.5,2025-01-28T10:08:21+07:00,10:14:00,10:20:00,2025-01-28 10:08:21+07:00,2025-01-28 10:26:11+07:00,True
31,51,L6.5,2025-01-28T10:26:11+07:00,10:28:00,10:32:00,2025-01-28 10:26:11+07:00,2025-01-28 10:38:49+07:00,True
32,52,L6.6,2025-01-28T10:38:49+07:00,10:40:00,10:43:00,2025-01-28 10:38:49+07:00,2025-01-28 10:48:53+07:00,True
33,60,L7.5,2025-01-28T10:48:53+07:00,10:53:00,11:00:00,2025-01-28 10:48:53+07:00,2025-01-28 11:02:19+07:00,True
34,61,L7.6,2025-01-28T11:02:19+07:00,11:03:00,11:06:00,2025-01-28 11:02:19+07:00,2025-01-28 11:18:40+07:00,True
35,53,L6.7,2025-01-28T11:18:40+07:00,11:21:00,11:28:00,2025-01-28 11:18:40+07:00,2025-01-28 11:33:36+07:00,True
36,54,L6.8,2025-01-28T11:33:36+07:00,11:34:00,11:38:00,2025-01-28 11:33:36+07:00,2025-01-28 11:41:17+07:00,True
37,44,L5.8,2025-01-28T11:41:17+07:00,11:43:00,11:46:00,2025-01-28 11:41:17+07:00,2025-01-28 11:50:15+07:00,True
38,45,L5.9,2025-01-28T11:50:15+07:00,11:51:00,11:54:00,2025-01-28 11:50:15+07:00,2025-01-28 12:01:11+07:00,True
39,36,L4.9,2025-01-28T12:01:11+07:00,12:03:00,12:07:00,2025-01-28 12:01:11+07:00,2025-01-28 12:17:56+07:00,True
40,43,L5.7,2025-01-28T12:17:56+07:00,12:20:00,12:24:00,2025-01-28 12:17:56+07:00,2025-01-28 12:30:06+07:00,True
41,34,L4.7,2025-01-28T12:30:06+07:00,12:33:00,12:36:00,2025-01-28 12:30:06+07:00,2025-01-28 12:42:56+07:00,True
42,35,L4.8,2025-01-28T12:42:56+07:00,12:46:00,12:48:00,2025-01-28 12:42:56+07:00,2025-01-28 12:57:00+07:00,True
43,26,L3.7,2025-01-28T12:57:00+07:00,12:57:00,13:01:00,2025-01-28 12:57:00+07:00,2025-01-28 13:17:25+07:00,True
44,17,L2.8,2025-01-28T13:17:25+07:00,13:18:00,13:21:00,2025-01-28 13:17:25+07:00,2025-01-28 13:29:07+07:00,True
45,27,L3.8,2025-01-28T13:29:07+07:00,13:30:00,13:33:00,2025-01-28 13:29:07+07:00,2025-01-28 13:37:37+07:00,True
46,18,L3.9,2025-01-28T13:37:37+07:00,13:38:00,13:40:00,2025-01-28 13:37:37+07:00,2025-01-28 13:49:15+07:00,True
47,8,L1.8,2025-01-28T13:49:15+07:00,13:51:00,13:53:00,2025-01-28 13:49:15+07:00,2025-01-28 13:53:00+07:00,True

In [70]:
df_time[["Title", "date created start", "date created end","is_time_inside"]]

   Title        date created start          date created end  is_time_inside
0   L2.1 2025-01-27 06:12:37+07:00 2025-01-27 06:34:43+07:00            True
1   L1.1 2025-01-27 06:34:43+07:00 2025-01-27 06:56:46+07:00            True
2   L2.2 2025-01-27 06:56:46+07:00 2025-01-27 07:11:59+07:00            True
3   L3.2 2025-01-27 07:11:59+07:00 2025-01-27 07:33:15+07:00            True
4   L3.1 2025-01-27 07:33:15+07:00 2025-01-27 07:47:47+07:00            True
5   L4.2 2025-01-27 07:47:47+07:00 2025-01-27 08:04:16+07:00            True
6   L5.2 2025-01-27 08:04:16+07:00 2025-01-27 08:17:01+07:00            True
7   L6.2 2025-01-27 08:17:01+07:00 2025-01-27 08:36:59+07:00            True
8   L6.3 2025-01-27 08:37:00+07:00 2025-01-27 08:45:06+07:00           False
9   L7.3 2025-01-27 08:45:06+07:00 2025-01-27 09:00:43+07:00            True
10  L7.4 2025-01-27 09:00:43+07:00 2025-01-27 09:41:47+07:00            True
11  L5.3 2025-01-27 09:41:47+07:00 2025-01-27 10:03:13+07:00            True
12  L5.4 2025-01-27 10:03:13+07:00 2025-01-27 10:20:48+07:00            True
13  L6.4 2025-01-27 10:20:48+07:00 2025-01-27 10:35:59+07:00            True
14  L4.4 2025-01-27 10:35:59+07:00 2025-01-27 10:55:04+07:00            True
15  L3.4 2025-01-27 10:55:04+07:00 2025-01-27 11:19:25+07:00            True
16  L2.5 2025-01-27 11:19:25+07:00 2025-01-27 11:46:35+07:00            True
17  L1.6 2025-01-27 11:46:35+07:00 2025-01-27 12:06:28+07:00            True
19  L1.7 2025-01-27 12:14:50+07:00 2025-01-27 12:52:50+07:00            True
20  L2.6 2025-01-27 12:53:00+07:00 2025-01-27 12:55:00+07:00           False
21  L3.3 2025-01-27 16:58:49+07:00 2025-01-27 17:20:30+07:00            True
22  L4.3 2025-01-27 17:20:30+07:00 2025-01-27 17:40:03+07:00            True
23  L1.2 2025-01-27 17:40:03+07:00 2025-01-27 18:17:42+07:00            True
18  L2.4 2025-01-28 07:05:00+07:00 2025-01-28 07:08:00+07:00           False
24  L1.3 2025-01-28 07:21:00+07:00 2025-01-28 07:24:00+07:00           False
25  L2.7 2025-01-28 07:45:03+07:00 2025-01-28 08:14:16+07:00            True
26  L3.6 2025-01-28 08:14:16+07:00 2025-01-28 08:59:42+07:00            True
27  L4.5 2025-01-28 08:59:42+07:00 2025-01-28 09:23:56+07:00            True
28  L4.6 2025-01-28 09:23:56+07:00 2025-01-28 09:58:10+07:00            True
29  L5.6 2025-01-28 09:59:00+07:00 2025-01-28 10:08:21+07:00           False
30  L5.5 2025-01-28 10:08:21+07:00 2025-01-28 10:26:11+07:00            True
31  L6.5 2025-01-28 10:26:11+07:00 2025-01-28 10:38:49+07:00            True
32  L6.6 2025-01-28 10:38:49+07:00 2025-01-28 10:48:53+07:00            True
33  L7.5 2025-01-28 10:48:53+07:00 2025-01-28 11:02:19+07:00            True
34  L7.6 2025-01-28 11:02:19+07:00 2025-01-28 11:18:40+07:00            True
35  L6.7 2025-01-28 11:18:40+07:00 2025-01-28 11:33:36+07:00            True
36  L6.8 2025-01-28 11:33:36+07:00 2025-01-28 11:41:17+07:00            True
37  L5.8 2025-01-28 11:41:17+07:00 2025-01-28 11:50:15+07:00            True
38  L5.9 2025-01-28 11:50:15+07:00 2025-01-28 12:01:11+07:00            True
39  L4.9 2025-01-28 12:01:11+07:00 2025-01-28 12:17:56+07:00            True
40  L5.7 2025-01-28 12:17:56+07:00 2025-01-28 12:30:06+07:00            True
41  L4.7 2025-01-28 12:30:06+07:00 2025-01-28 12:42:56+07:00            True
42  L4.8 2025-01-28 12:42:56+07:00 2025-01-28 12:57:00+07:00            True
43  L3.7 2025-01-28 12:57:00+07:00 2025-01-28 13:17:25+07:00            True
44  L2.8 2025-01-28 13:17:25+07:00 2025-01-28 13:29:07+07:00            True
45  L3.8 2025-01-28 13:29:07+07:00 2025-01-28 13:37:37+07:00            True
46  L3.9 2025-01-28 13:37:37+07:00 2025-01-28 13:49:15+07:00            True
47  L1.8 2025-01-28 13:49:15+07:00 2025-01-28 13:53:00+07:00            True

# prepare data logger

In [71]:
import os
import pandas as pd

# Folder containing the .TXT files
log_folder = "logger-sd-lapangan"

# Initialize an empty list to store the log data
log_data = []

# Read the .TXT files and extract the values
index_log_file = -1
for log_file in os.listdir(log_folder):
    index_log_file += 1
    # print(f"Reading file: {log_file}")
    if log_file.endswith(".TXT"):
        with open(os.path.join(log_folder, log_file), "r") as file:
            for line in file:
                try:
                    if "=" in line:
                        continue
                    parts = line.strip().split(" - ")
                    if len(parts) == 2:
                        timestamp, value = parts
                        log_data.append((timestamp, value))
                except Exception as e:
                    print(f"Skipping line due to error: {e}")
                    continue

print(log_data[:5])

# Create a DataFrame from the log data
log_df = pd.DataFrame(log_data, columns=["Timestamp", "Value"])

# Convert the Timestamp column to datetime
log_df["Timestamp"] = pd.to_datetime(log_df["Timestamp"])

print(log_df.head())

# Pivot the log DataFrame to have columns for each value type
log_df["Value Type"] = log_df["Value"].apply(
    lambda x: x.split(": ")[0] if ": " in x else None
)
log_df["Value"] = log_df["Value"].apply(
    lambda x: float(x.split(": ")[1]) if ": " in x else None
)

print(log_df.head())

# Show count of rows with NaN values
na_count = log_df.isna().sum()
print("Count of NaN values before dropping:", na_count)

# Show rows with NaN values
na_rows = log_df[log_df[["Value Type", "Value"]].isna().any(axis=1)]
print("Rows with NaN values before dropping:")
print(na_rows.head())
print(na_rows.tail())

log_df.head()

value_types_format = [
    "Count left",
    "Temp",
    "Hum",
    "PPM CO2 (MQ135)",
    "PPM CO2 (NDIR)",
    "PPM H2S (MQ136)",
    "PPM H2S (TGS2602)",
    "Analog MQ135",
    "Analog NDIR",
    "Analog MQ136",
    "Analog TGS2602",
]

additional_value_types_format = [
    "MQ135 rs_ro",
    "MQ135 rs_ro before correction",
    "MQ135 rs_ro_corr",
    "MQ135 rs_ro after correction",
    "MQ136 rs_ro",
    "MQ136 rs_ro before correction",
    "MQ136 rs_ro_corr",
    "MQ136 rs_ro after correction",
    "TGS2602 rs_ro",
    "TGS2602 rs_ro before correction",
    "TGS2602 rs_ro_corr",
    "TGS2602 rs_ro after correction",
    "NDIR Sensor",
    "NDIR Voltage",
]

print(len(value_types_format))

# Create a DataFrame with columns from value_types_format and Timestamp
log_df_pivot = pd.DataFrame(
    columns=["Timestamp"] + value_types_format + additional_value_types_format
)
print(log_df_pivot.head())

# Iterate over the rows of the log_df
for index, row in log_df.iterrows():
    if row["Value Type"] == value_types_format[0]:
        value_dict = {"Timestamp": row["Timestamp"]}
        for i_index in range(index, index + len(value_types_format)):
            if i_index < len(log_df):
                value_row = log_df.iloc[i_index]
                value_type = value_row["Value Type"]
                if value_type not in value_types_format:
                    break
                value_dict[value_type] = value_row["Value"]

        # Check for additional value types
        for i_index in range(
            index + len(value_types_format),
            index + len(value_types_format) + len(additional_value_types_format),
        ):
            if i_index < len(log_df):
                value_row = log_df.iloc[i_index]
                value_type = value_row["Value Type"]
                if value_type in additional_value_types_format:
                    value_dict[value_type] = value_row["Value"]

        log_df_pivot = pd.concat(
            [log_df_pivot, pd.DataFrame([value_dict])], ignore_index=True
        )

log_df_pivot.head()

[('2025-01-27T06:23:01', 'MQ135 rs_ro: 1.27'), ('2025-01-27T06:23:01', 'MQ135 rs_ro before correction: 1.27'), ('2025-01-27T06:23:01', 'MQ135 rs_ro_corr: 0.93'), ('2025-01-27T06:23:01', 'MQ135 rs_ro after correction: 1.27'), ('2025-01-27T06:23:01', 'MQ136 rs_ro: 1.18')]
            Timestamp                                Value
0 2025-01-27 06:23:01                    MQ135 rs_ro: 1.27
1 2025-01-27 06:23:01  MQ135 rs_ro before correction: 1.27
2 2025-01-27 06:23:01               MQ135 rs_ro_corr: 0.93
3 2025-01-27 06:23:01   MQ135 rs_ro after correction: 1.27
4 2025-01-27 06:23:01                    MQ136 rs_ro: 1.18
            Timestamp  Value                     Value Type
0 2025-01-27 06:23:01   1.27                    MQ135 rs_ro
1 2025-01-27 06:23:01   1.27  MQ135 rs_ro before correction
2 2025-01-27 06:23:01   0.93               MQ135 rs_ro_corr
3 2025-01-27 06:23:01   1.27   MQ135 rs_ro after correction
4 2025-01-27 06:23:01   1.18                    MQ136 rs_ro
Count of NaN values before dropping: Timestamp      0
Value         93
Value Type    66
dtype: int64
Rows with NaN values before dropping:
              Timestamp  Value Value Type
58  2025-01-27 06:23:36    NaN       Temp
59  2025-01-27 06:23:36    NaN        Hum
100 2025-01-27 06:23:59    NaN       Temp
101 2025-01-27 06:23:59    NaN        Hum
799 2025-01-27 07:04:55    NaN       Temp
                Timestamp  Value Value Type
12078 2000-11-08 13:49:37    NaN       None
12104 2000-11-08 13:50:41    NaN       None
12130 2000-11-08 13:50:53    NaN       None
12156 2000-11-08 13:51:05    NaN       None
12182 2000-11-08 13:51:17    NaN       None
11
Empty DataFrame
Columns: [Timestamp, Count left, Temp, Hum, PPM CO2 (MQ135), PPM CO2 (NDIR), PPM H2S (MQ136), PPM H2S (TGS2602), Analog MQ135, Analog NDIR, Analog MQ136, Analog TGS2602, MQ135 rs_ro, MQ135 rs_ro before correction, MQ135 rs_ro_corr, MQ135 rs_ro after correction, MQ136 rs_ro, MQ136 rs_ro before correction, MQ136 rs_ro_corr, MQ136 rs_ro after correction, TGS2602 rs_ro, TGS2602 rs_ro before correction, TGS2602 rs_ro_corr, TGS2602 rs_ro after correction, NDIR Sensor, NDIR Voltage]
Index: []

C:\Users\faliq\AppData\Local\Temp\ipykernel_33076\720873621.py:123: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  log_df_pivot = pd.concat(

,Timestamp,Count left,Temp,Hum,PPM CO2 (MQ135),PPM CO2 (NDIR),PPM H2S (MQ136),PPM H2S (TGS2602),Analog MQ135,Analog NDIR,Analog MQ136,Analog TGS2602,MQ135 rs_ro,MQ135 rs_ro before correction,MQ135 rs_ro_corr,MQ135 rs_ro after correction,MQ136 rs_ro,MQ136 rs_ro before correction,MQ136 rs_ro_corr,MQ136 rs_ro after correction,TGS2602 rs_ro,TGS2602 rs_ro before correction,TGS2602 rs_ro_corr,TGS2602 rs_ro after correction,NDIR Sensor,NDIR Voltage
0,2025-01-27 06:23:12,9.0,29.4,48.0,45.0,581.0,14.0,1.0,8.0,120.0,137.0,139.0,1.32,1.32,0.93,1.32,1.19,1.19,0.92,1.19,0.26,0.26,0.71,0.26,124.0,606.06
1,2025-01-27 06:23:24,8.0,29.8,48.0,40.0,643.0,14.0,1.0,8.0,120.0,136.0,141.0,1.23,NaN,NaN,NaN,1.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126.0,615.84
2,2025-01-27 06:23:36,7.0,NaN,NaN,61.0,671.0,19.0,3.0,11.0,125.0,136.0,142.0,1.14,1.14,0.93,1.14,1.19,1.19,0.92,1.19,0.25,0.25,0.71,0.25,128.0,625.61
3,2025-01-27 06:23:48,6.0,29.8,47.0,62.0,703.0,14.0,1.0,9.0,125.0,136.0,144.0,1.33,NaN,NaN,NaN,1.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119.0,581.62
4,2025-01-27 06:23:59,5.0,NaN,NaN,49.0,565.0,18.0,3.0,7.0,119.0,135.0,148.0,1.22,1.22,0.93,1.22,1.21,1.21,0.92,1.21,0.24,0.24,0.71,0.24,124.0,606.06

In [72]:
log_df_pivot.describe()

,Timestamp,Count left,Temp,Hum,PPM CO2 (MQ135),PPM CO2 (NDIR),PPM H2S (MQ136),PPM H2S (TGS2602),Analog MQ135,Analog NDIR,Analog MQ136,Analog TGS2602,MQ135 rs_ro,MQ135 rs_ro before correction,MQ135 rs_ro_corr,MQ135 rs_ro after correction,MQ136 rs_ro,MQ136 rs_ro before correction,MQ136 rs_ro_corr,MQ136 rs_ro after correction,TGS2602 rs_ro,TGS2602 rs_ro before correction,TGS2602 rs_ro_corr,TGS2602 rs_ro after correction,NDIR Sensor,NDIR Voltage
count,487,487.000000,473.000000,473.000000,487.000000,486.000000,486.000000,484.000000,486.000000,484.000000,485.000000,486.000000,477.000000,470.000000,470.000000,470.000000,484.000000,471.000000,471.000000,471.000000,471.000000,468.000000,470.000000,470.000000,484.000000,485.000000
mean,2024-09-13 06:09:42.324435200,4.640657,35.168076,43.262156,615.036961,734.522634,68.907407,23.497934,17.409465,179.855372,186.164948,339.405350,0.734822,0.724851,0.939319,0.725383,0.846508,0.840679,0.935011,0.840679,0.095244,0.095107,0.587085,0.095149,181.640496,883.715918
min,2000-11-08 13:28:30,0.000000,28.000000,37.000000,21.000000,0.000000,10.000000,0.000000,6.000000,117.000000,126.000000,83.000000,0.290000,0.290000,0.790000,0.290000,0.480000,0.480000,0.790000,0.480000,0.030000,0.030000,0.470000,0.030000,117.000000,571.850000
25%,2025-01-27 08:37:26,2.000000,33.300000,39.000000,85.500000,581.000000,33.000000,9.000000,11.000000,123.000000,165.000000,264.500000,0.460000,0.460000,0.930000,0.460000,0.720000,0.720000,0.930000,0.720000,0.060000,0.060000,0.530000,0.060000,123.000000,601.170000
50%,2025-01-28 07:54:23,5.000000,35.600000,41.000000,323.000000,656.000000,52.500000,18.000000,16.500000,127.000000,183.000000,354.500000,0.640000,0.635000,0.940000,0.635000,0.840000,0.830000,0.940000,0.830000,0.070000,0.070000,0.570000,0.070000,127.000000,620.720000
75%,2025-01-28 11:38:03,7.000000,37.500000,45.000000,838.500000,750.000000,86.000000,28.000000,23.000000,138.000000,206.000000,412.000000,1.020000,0.980000,0.957500,0.980000,0.940000,0.940000,0.950000,0.940000,0.110000,0.110000,0.630000,0.110000,139.250000,679.370000
max,2064-12-21 12:38:22,9.000000,40.600000,98.000000,3493.000000,4887.000000,344.000000,286.000000,37.000000,476.000000,281.000000,567.000000,1.650000,1.650000,0.970000,1.650000,1.300000,1.290000,0.970000,1.290000,0.470000,0.470000,0.780000,0.470000,479.000000,2341.150000
std,NaN,2.893911,3.207436,8.597582,716.500927,656.061078,52.741361,33.746436,7.625178,115.732449,30.477427,94.827061,0.329545,0.324619,0.026283,0.324783,0.169635,0.165168,0.026100,0.165168,0.065356,0.065463,0.073669,0.065393,117.520867,570.455137

In [73]:
# Check for NaN values in log_df_pivot
nan_counts = log_df_pivot.isna().sum()
print("Count of NaN values in each column:")
print(nan_counts)

# Display rows with NaN values
nan_rows = log_df_pivot[log_df_pivot.isna().any(axis=1)]
print("Rows with NaN values:")
print(nan_rows)

Count of NaN values in each column:
Timestamp                           0
Count left                          0
Temp                               14
Hum                                14
PPM CO2 (MQ135)                     0
PPM CO2 (NDIR)                      1
PPM H2S (MQ136)                     1
PPM H2S (TGS2602)                   3
Analog MQ135                        1
Analog NDIR                         3
Analog MQ136                        2
Analog TGS2602                      1
MQ135 rs_ro                        10
MQ135 rs_ro before correction      17
MQ135 rs_ro_corr                   17
MQ135 rs_ro after correction       17
MQ136 rs_ro                         3
MQ136 rs_ro before correction      16
MQ136 rs_ro_corr                   16
MQ136 rs_ro after correction       16
TGS2602 rs_ro                      16
TGS2602 rs_ro before correction    19
TGS2602 rs_ro_corr                 17
TGS2602 rs_ro after correction     17
NDIR Sensor                         3
NDIR Voltage                        2
dtype: int64
Rows with NaN values:
              Timestamp  Count left  Temp   Hum  PPM CO2 (MQ135)  \
1   2025-01-27 06:23:24         8.0  29.8  48.0             40.0
2   2025-01-27 06:23:36         7.0   NaN   NaN             61.0
3   2025-01-27 06:23:48         6.0  29.8  47.0             62.0
4   2025-01-27 06:23:59         5.0   NaN   NaN             49.0
28  2025-01-27 07:04:43         5.0  32.3  45.0             47.0
29  2025-01-27 07:04:54         4.0   NaN   NaN             59.0
30  2025-01-27 07:05:06         3.0  32.8  44.0             26.0
31  2025-01-27 07:05:17         2.0   NaN   NaN             43.0
32  2025-01-27 07:05:29         1.0  32.8  44.0             21.0
33  2025-01-27 07:05:59         0.0   NaN   NaN             45.0
34  2025-01-27 07:17:19         9.0   NaN   NaN            248.0
35  2025-01-27 07:17:31         8.0  33.8  43.0            240.0
36  2025-01-27 07:17:43         7.0  33.8  42.0            251.0
37  2025-01-27 07:18:18         9.0  33.8  42.0            152.0
38  2025-01-27 07:18:30         8.0  33.8  42.0            136.0
39  2025-01-27 07:18:44         7.0  33.8  41.0            108.0
40  2025-01-27 07:18:56         6.0   NaN   NaN             88.0
41  2025-01-27 07:19:46         9.0   NaN   NaN            111.0
42  2025-01-27 07:19:58         8.0   NaN   NaN             78.0
43  2025-01-27 07:20:10         7.0   NaN   NaN             74.0
44  2025-01-27 07:20:40         9.0   NaN   NaN             65.0
49  2025-01-27 07:24:15         5.0  33.8  41.0             54.0
50  2025-01-27 07:24:26         4.0   NaN   NaN             59.0
77  2025-01-27 08:09:10         7.0  31.8  45.0             90.0
78  2025-01-27 08:09:21         6.0   NaN   NaN             98.0
106 2025-01-27 08:52:43         8.0  37.4  38.0            133.0
306 2025-01-28 11:05:34         9.0  36.3  41.0            681.0
307 2025-01-28 11:05:45         8.0   NaN   NaN            848.0
309 2025-01-28 11:06:10         6.0  36.3  41.0            719.0
311 2025-01-28 11:06:31         4.0  36.3  41.0            823.0
312 2025-01-28 11:06:43         3.0  36.3  41.0            700.0
452 2025-01-28 13:53:34         0.0  39.5  39.0            516.0
454 2000-11-08 13:28:42         2.0  28.0  52.0            313.0
486 2064-12-21 12:38:22         0.0  34.2  93.0             70.0

     PPM CO2 (NDIR)  PPM H2S (MQ136)  PPM H2S (TGS2602)  Analog MQ135  \
1             643.0             14.0                1.0           8.0
2             671.0             19.0                3.0          11.0
3             703.0             14.0                1.0           9.0
4             565.0             18.0                3.0           7.0
28            565.0             11.0                3.0           6.0
29            671.0             14.0               10.0           8.0
30            687.0             11.0                3.0           7.0
31            581.0             14.0               11.0           7.0
32            643.0             11.0                3.0           7.0
33            656.0             14.0               12.0           7.0
34            656.0            109.0               12.0          15.0
35            656.0             86.0                3.0          15.0
36            656.0             83.0                3.0          15.0
37            656.0             60.0                4.0          13.0
38              NaN              NaN                4.0          12.0
39            565.0             45.0                4.0          11.0
40            565.0             51.0               16.0          11.0
41            643.0             37.0               18.0           8.0
42            656.0             34.0                NaN           NaN
43            565.0             31.0               20.0          10.0
44            643.0             28.0               22.0          10.0
49            671.0             19.0                3.0           8.0
50            656.0             25.0                NaN           9.0
77            765.0             48.0               16.0          10.0
78            671.0             61.0               54.0           9.0
106           565.0             67.0                NaN          10.0
306             0.0             72.0               25.0          22.0
307             0.0             93.0              128.0          22.0
309             0.0             78.0               27.0          22.0
311             0.0             83.0               27.0          21.0
312             0.0             81.0               28.0          22.0
452           781.0             67.0               40.0          20.0
454             0.0             19.0                7.0          18.0
486           643.0             13.0                0.0          12.0

     Analog NDIR  Analog MQ136  Analog TGS2602  MQ135 rs_ro  \
1          120.0         136.0           141.0         1.23
2          125.0         136.0           142.0         1.14
3          125.0         136.0           144.0         1.33
4          119.0         135.0           148.0         1.22
28         120.0         128.0           201.0         1.24
29         125.0         127.0           203.0         1.53
30         125.0         126.0           205.0         1.39
31         120.0         126.0           210.0         1.65
32         120.0         127.0           211.0         1.37
33         125.0         127.0           212.0         0.75
34         125.0         206.0           216.0         0.71
35         125.0         207.0           218.0         0.70
36         125.0         204.0           221.0         0.84
37         125.0           NaN           227.0          NaN
38         125.0         185.0           229.0          NaN
39         126.0         178.0           231.0         1.00
40           NaN           NaN             NaN         1.13
41         120.0         160.0           243.0         1.13
42         119.0         156.0           243.0          NaN
43         126.0         154.0           246.0         1.21
44         124.0         149.0           252.0         1.36
49         126.0         145.0           226.0         1.24
50         124.0         146.0           226.0          NaN
77         133.0         180.0           311.0         1.04
78         126.0         181.0           322.0         1.18
106        119.0         192.0           414.0          NaN
306        467.0         197.0           386.0         0.49
307        470.0         199.0           388.0          NaN
309          NaN         201.0           393.0          NaN
311        452.0         203.0           401.0         0.49
312        474.0         203.0           397.0         0.49
452        133.0         192.0           459.0          NaN
454          NaN         147.0           225.0          NaN
486        125.0         154.0            85.0          NaN

     MQ135 rs_ro before correction  MQ135 rs_ro_corr  \
1                              NaN               NaN
2                             1.14              0.93
3                              NaN               NaN
4                             1.22              0.93
28                             NaN               NaN
29                            1.53              0.93
30                             NaN               NaN
31                            1.65              0.93
32                             NaN               NaN
33                             NaN               NaN
34                            0.71              0.93
35                            0.70              0.94
36                            0.84              0.94
37                            0.87              0.94
38                             NaN              0.94
39                             NaN               NaN
40                             NaN               NaN
41                             NaN               NaN
42                             NaN               NaN
43                             NaN               NaN
44                            1.36              0.94
49                             NaN               NaN
50                            1.28              0.94
77                             NaN               NaN
78                            1.18              0.93
106                           0.93              0.96
306                            NaN               NaN
307                           0.50              0.94
309                           0.48              0.94
311                           0.49               NaN
312                           0.49              0.94
452                            NaN               NaN
454                           0.66              0.92
486                            NaN               NaN

     MQ135 rs_ro after correction  MQ136 rs_ro  MQ136 rs_ro before correction  \
1                             NaN         1.19                            NaN
2                            1.14         1.19                           1.19
3                             NaN         1.20                            NaN
4                            1.22         1.21                           1.21
28                            NaN         1.29                            NaN
29                           1.53         1.29                           1.29
30                            NaN         1.29                            NaN
31                           1.65         1.29                           1.29
32                            NaN         1.30                            NaN
33                            NaN         0.72                            NaN
34                           0.71         0.72                           0.72
35                            NaN         0.73                           0.73
36                           0.84         0.80                           0.80
37                           0.87         0.83                           0.83
38                           0.95         0.87                           0.87
39                            NaN         0.90                            NaN
40                            NaN          NaN                            NaN
41                            NaN         1.00                            NaN
42                            NaN          NaN                            NaN
43                            NaN         1.06                            NaN
44                           1.36         1.09                            NaN
49                            NaN         1.10                            NaN
50                           1.28         1.10                           1.10
77                            NaN         0.85                            NaN
78                           1.18         0.86                           0.86
106                          0.93         0.80                           0.80
306                           NaN         0.76                            NaN
307                          0.50         0.75                           0.75
309                          0.48         0.74                           0.74
311                          0.49         0.74                           0.74
312                          0.49         0.74                           0.74
452                           NaN         1.09                           1.09
454                          0.66         1.09                           1.09
486                           NaN          NaN                            NaN

     MQ136 rs_ro_corr  MQ136 rs_ro after correction  TGS2602 rs_ro  \
1                 NaN                           NaN            NaN
2                0.92                          1.19           0.25
3                 NaN                           NaN            NaN
4                0.92                          1.21           0.24
28                NaN                           NaN            NaN
29               0.93                          1.29           0.16
30                NaN                           NaN            NaN
31               0.93                          1.29           0.16
32                NaN                           NaN            NaN
33                NaN                           NaN            NaN
34               0.93                          0.72           0.15
35               0.93                          0.73           0.15
36               0.93                          0.80           0.14
37               0.93                          0.83           0.14
38               0.94                          0.87           0.14
39                NaN                           NaN            NaN
40                NaN                           NaN            NaN
41                NaN                           NaN            NaN
42                NaN                           NaN            NaN
43                NaN                           NaN            NaN
44                NaN                           NaN            NaN
49                NaN                           NaN            NaN
50               0.94                          1.10           0.14
77                NaN                           NaN            NaN
78               0.92                          0.86           0.09
106              0.95                          0.80           0.06
306               NaN                           NaN            NaN
307              0.94                          0.75           0.06
309              0.94                          0.74           0.06
311              0.94                          0.74           0.06
312              0.94                          0.74           0.06
452              0.92                          1.09           0.14
454              0.92                          1.09           0.14
486               NaN                           NaN            NaN

     TGS2602 rs_ro before correction  TGS2602 rs_ro_corr  \
1                                NaN                 NaN
2                               0.25                0.71
3                                NaN                 NaN
4                               0.24                0.71
28                               NaN                 NaN
29                              0.16                0.64
30                               NaN                 NaN
31                              0.16                0.64
32                               NaN                 NaN
33                               NaN                 NaN
34                              0.15                0.61
35                               NaN                0.61
36                               NaN                 NaN
37                              0.14                0.61
38                              0.14                0.61
39                               NaN                 NaN
40                               NaN                 NaN
41                               NaN                 NaN
42                               NaN                 NaN
43                               NaN                 NaN
44                               NaN                 NaN
49                               NaN                 NaN
50                              0.14                0.61
77                               NaN                 NaN
78                              0.09                0.66
106                             0.06                0.54
306                              NaN                 NaN
307                             0.06                0.56
309                             0.06                0.56
311                              NaN                0.56
312                             0.06                0.56
452                             0.14                0.76
454                             0.14                0.76
486                              NaN                 NaN

     TGS2602 rs_ro after correction  NDIR Sensor  NDIR Voltage
1                               NaN        126.0        615.84
2                              0.25        128.0        625.61
3                               NaN        119.0        581.62
4                              0.24        124.0        606.06
28                              NaN        126.0        615.84
29                             0.16        127.0        620.72
30                              NaN        120.0        586.51
31                             0.16        124.0        606.06
32                              NaN        125.0        610.95
33                              NaN        125.0        610.95
34                             0.15        125.0        610.95
35                             0.15          NaN        610.95
36                              NaN        119.0        581.62
37                             0.14        125.0        610.95
38                             0.14        119.0        581.62
39                              NaN        119.0        581.62
40                              NaN          NaN        606.06
41                              NaN        125.0        610.95
42                              NaN        119.0        581.62
43                              NaN        124.0        606.06
44                              NaN        126.0        615.84
49                              NaN        125.0        610.95
50                             0.14        127.0        620.72
77                              NaN        126.0        615.84
78                             0.09        119.0        581.62
106                            0.06        125.0        610.95
306                             NaN        453.0       2214.08
307                            0.06        471.0       2302.05
309                            0.06        468.0       2287.39
311                            0.06        453.0       2214.08
312                            0.06        471.0           NaN
452                            0.14        452.0       2209.19
454                            0.14        453.0       2214.08
486                             NaN          NaN           NaN

In [74]:
# log_df_pivot

In [75]:
import os

# Check if the file exists and remove it if it does
if os.path.exists("log_df_pivot.xlsx"):
    os.remove("log_df_pivot.xlsx")

# Save the DataFrame to an Excel file
log_df_pivot.to_excel("log_df_pivot.xlsx", index=False)

# merge data

In [76]:
# print df_time columns
print(df_time.columns)

# print log_df_pivot columns
print(log_df_pivot.columns)

Index(['No', 'Title', 'Date Created', 'time measure start', 'time measure end',
       'date created start', 'date created end', 'is_time_inside'],
      dtype='object')
Index(['Timestamp', 'Count left', 'Temp', 'Hum', 'PPM CO2 (MQ135)',
       'PPM CO2 (NDIR)', 'PPM H2S (MQ136)', 'PPM H2S (TGS2602)',
       'Analog MQ135', 'Analog NDIR', 'Analog MQ136', 'Analog TGS2602',
       'MQ135 rs_ro', 'MQ135 rs_ro before correction', 'MQ135 rs_ro_corr',
       'MQ135 rs_ro after correction', 'MQ136 rs_ro',
       'MQ136 rs_ro before correction', 'MQ136 rs_ro_corr',
       'MQ136 rs_ro after correction', 'TGS2602 rs_ro',
       'TGS2602 rs_ro before correction', 'TGS2602 rs_ro_corr',
       'TGS2602 rs_ro after correction', 'NDIR Sensor', 'NDIR Voltage'],
      dtype='object')

In [77]:
# Assuming df_time and log_df_pivot are your DataFrames
log_df_merged = log_df_pivot.copy()
df_time_copy = df_time.copy()

# Ensure both timestamps have the same time zone information
df_time_copy["date created start"] = pd.to_datetime(
    df_time_copy["date created start"]
).dt.tz_convert("Asia/Bangkok")
df_time_copy["date created end"] = pd.to_datetime(
    df_time_copy["date created end"]
).dt.tz_convert("Asia/Bangkok")
log_df_merged["Timestamp"] = pd.to_datetime(log_df_merged["Timestamp"]).dt.tz_localize(
    "Asia/Bangkok"
)

# add column from df_time_copy if the timestamp log_df_merger
# is inside the range

for index, row in log_df_merged.iterrows():
    timestamp = row["Timestamp"]
    for _, time_row in df_time_copy.iterrows():
        if time_row["date created start"] <= timestamp <= time_row["date created end"]:
            log_df_merged.loc[index, "Title"] = time_row["Title"]

# Reorder columns to place "Title" after "Timestamp"
cols = list(log_df_merged.columns)
cols.insert(cols.index("Timestamp") + 1, cols.pop(cols.index("Title")))
log_df_merged = log_df_merged[cols]

In [78]:
filtered_log_df_merged = log_df_merged.dropna(subset=["Title"])
filtered_log_df_merged.describe()

,Count left,Temp,Hum,PPM CO2 (MQ135),PPM CO2 (NDIR),PPM H2S (MQ136),PPM H2S (TGS2602),Analog MQ135,Analog NDIR,Analog MQ136,Analog TGS2602,MQ135 rs_ro,MQ135 rs_ro before correction,MQ135 rs_ro_corr,MQ135 rs_ro after correction,MQ136 rs_ro,MQ136 rs_ro before correction,MQ136 rs_ro_corr,MQ136 rs_ro after correction,TGS2602 rs_ro,TGS2602 rs_ro before correction,TGS2602 rs_ro_corr,TGS2602 rs_ro after correction,NDIR Sensor,NDIR Voltage
count,434.000000,420.000000,420.000000,434.000000,433.000000,433.000000,431.000000,433.000000,432.000000,432.000000,433.000000,427.000000,419.000000,419.000000,419.000000,432.000000,419.000000,419.000000,419.000000,419.000000,416.000000,418.000000,418.000000,432.000000,433.000000
mean,4.728111,35.718810,41.511905,628.354839,723.542725,70.558891,22.090487,17.300231,170.018519,187.171296,348.847575,0.748525,0.737780,0.944177,0.738377,0.840440,0.833699,0.939881,0.833699,0.085561,0.085337,0.572225,0.085431,171.368056,833.135982
std,2.887385,2.841955,3.885270,740.817645,556.825729,51.765514,24.880994,7.859143,105.960482,30.041631,84.517311,0.340939,0.336616,0.014209,0.336771,0.168562,0.163193,0.014681,0.163193,0.040604,0.040519,0.062560,0.040565,107.485093,520.196748
min,0.000000,29.300000,37.000000,21.000000,0.000000,10.000000,1.000000,6.000000,117.000000,126.000000,139.000000,0.290000,0.290000,0.900000,0.290000,0.500000,0.500000,0.890000,0.500000,0.030000,0.030000,0.470000,0.030000,117.000000,571.850000
25%,2.000000,33.800000,39.000000,83.000000,581.000000,35.000000,11.000000,10.000000,122.000000,167.000000,305.000000,0.460000,0.460000,0.940000,0.460000,0.720000,0.720000,0.930000,0.720000,0.060000,0.060000,0.520000,0.060000,122.000000,596.290000
50%,5.000000,36.300000,41.000000,316.500000,671.000000,57.000000,19.000000,16.000000,127.000000,186.000000,367.000000,0.650000,0.640000,0.940000,0.640000,0.820000,0.820000,0.940000,0.820000,0.070000,0.070000,0.560000,0.070000,127.000000,620.720000
75%,7.000000,38.000000,43.000000,853.250000,750.000000,88.000000,29.000000,23.000000,136.000000,206.000000,414.000000,1.040000,1.040000,0.960000,1.040000,0.940000,0.930000,0.950000,0.930000,0.090000,0.090000,0.610000,0.090000,137.000000,669.600000
max,9.000000,40.600000,58.000000,3493.000000,4887.000000,344.000000,286.000000,37.000000,476.000000,281.000000,562.000000,1.650000,1.650000,0.970000,1.650000,1.300000,1.290000,0.970000,1.290000,0.260000,0.260000,0.720000,0.260000,479.000000,2341.150000

In [79]:
import os

# Check if the file exists and remove it if it does
if os.path.exists("log_df_merged.xlsx"):
    os.remove("log_df_merged.xlsx")

# Assuming log_df_merged is your DataFrame
for column in log_df_merged.select_dtypes(include=["datetimetz"]).columns:
    log_df_merged[column] = log_df_merged[column].dt.tz_localize(None)

# Save the DataFrame to an Excel file
log_df_merged.to_excel("log_df_merged.xlsx", index=False)